@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.muli {
    font-family: 'Muli', sans-serif;
}

/* button spinner */
.loading {
  animation-name: spin;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}